div.am-popup-mask {
  top: 166px;
  background-color: rgba(0, 0, 0, 0.4);
}

.am-popup-body {
  position: fixed;
  top: 166px;
  width: 100%;
}

.am-search {
  background-color: #EEEEEE;
}

div.screening {
  width: 100%;
  overflow: hidden;
  background: #fff;
  position: relative;
  line-height: 0.8rem;
  z-index: 4;

  .horizontal-divider {
    height: 1px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #EEEEEE;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: solid 1px #d3d3d3;
    overflow: hidden;
    li {
      float: left;
      width: 25%;
      text-align: center;
      font-weight: normal;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 28px;

      .filter-selected {
        color: red;
      }

      .img-arrow {
        margin-left: 10px;
        width: 16px;
        height: 10px;
        vertical-align: middle;
      }

      .img-filter {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }

      .divider {
        position: relative;
        width: 2px;
        height: 0.4rem;
        top: 0.2rem;
        float: right;
        border: none;
        border-left: 1px solid #EEEEEE;
      }
    }
  }
}

.am-list-item .am-list-line .am-list-content .subItem {
  font-size: 28px;
  font-weight: normal;
  color: #666666;
}

.am-list-item .am-list-line .am-list-content .subItemSelected {
  font-size: 28px;
  font-weight: normal;
  color: red;
}

.am-list-item .am-list-line .am-list-content .iconChoose {
  float: right;
  width: 40px;
  height: 26px;
  display: none;
}

.am-list-item .am-list-line .am-list-content .iconChooseSelected {
  float: right;
  width: 40px;
  height: 26px;
}



