.kanjia-item {
	display: inline-block;
	height: 304px;
	min-width: 320px;
	margin-top: 10px;
	width: 100%;
	background-color: #ffffff;
	overflow: hidden;

	.kanjia-pic {
			display: block;
			background-size: auto;
			position: relative;
			height: 288px;
			width: 288px;
			top: 8px;
			left: 8px;
	}

	.kanjia-context {
		display: block;
		position: relative;
		top: -288px;
		left: 288px;
		overflow: hidden;

	}

}



