.goods-item-li {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #EEEEEE;

  .goods1 {
    position: relative;
    width: 48%;
    margin: 1%;
    background-color: white;
    float: left;
  }

  .goods2 {
    position: relative;
    width: 48%;
    background-color: white;
    margin: 1%;
    float: right;
  }
  .goods-pic {
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    background: url("./images/goods1.png") no-repeat;
    background-size: 100% 100%;
  }

  .goods-name {
    font-size: 18px;
    color: #333;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .goods-price {
    font-size: 30px;
    color: red;
    font-weight: bold;
    padding-left: 6px;

    .send-type {
      background-color: red;
      font-weight: normal;
      color: white;
      font-size: 8px;
      padding: 2px 8px 2px 8px;
      border-radius: 5px;
    }

    .money-sign {
      font-size: 8px;
    }
  }

  .pay-count {
    padding-bottom: 20px;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 8px;
    color: #666;

    .user_count {
      font-size: 16px;
      padding-right: 30px;
    }
  }
}