@import "../../common/scss/index";
@import "../../common/widget/base";
@import "../../common/widget/baseloading";

.am-search.am-search-start .am-search-input {
  margin-right: 0;
}

.am-search .am-search-cancel {
  display: none;
}

.am-search {
  background-color: white;
}

.am-search .am-search-input input[type="search"] {
  background-color: #F5F5F5;
  border: solid 1px #CCCCCC;
}

::-webkit-input-placeholder {
  color: red;
}

.my-drawer {
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1;
}

.my-drawer .am-drawer-sidebar {
  width: 80%;
  background-color: #fff;
  overflow: auto;
}

.my-drawer .am-drawer-sidebar .am-list {
  padding: 0;
}


